body {
  min-width: 357px;
  overflow-x: hidden;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}
.result-text{
  font-family:Helvetica, sans-serif;
  font-size:12px;
  padding:2px;
}