body {
  width:200px;
  font-family:Courier, monospace;
  font-size:12px;
  /*width:auto;*/
  background-color: #303030;
  color:white;
  padding:5px;
  letter-spacing: 1px;
  text-align:center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#close-me:hover{
  text-decoration: underline;
  cursor:pointer;
  cursor:hand;
}